n8n/workflows/daily-performance-tracking.json
{
  "name": "Performance Tracking (Daily)",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "cron",
              "cronExpression": "30 16 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 4:30 PM EST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.API_URL }}/stockpicker.v1.PredictionService/ListPredictions",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Connect-Protocol-Version",
              "value": "1"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "strategyId",
              "value": ""
            },
            {
              "name": "status",
              "value": "PREDICTION_STATUS_ACTIVE"
            }
          ]
        },
        "options": {}
      },
      "id": "get-active-predictions",
      "name": "Get Active Predictions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-entered",
              "leftValue": "={{ $json.action }}",
              "rightValue": "PREDICTION_ACTION_ENTERED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-entered-predictions",
      "name": "Filter Entered Predictions",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-into-items",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://www.alphavantage.co/query",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "function",
              "value": "GLOBAL_QUOTE"
            },
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.ALPHA_VANTAGE_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-current-price",
      "name": "Get Current Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "current_price",
              "name": "current_price",
              "value": "={{ $json['Global Quote']['05. price'] || $json['Global Quote']['05. price'] || 0 }}",
              "type": "number"
            },
            {
              "id": "current_return_pct",
              "name": "current_return_pct",
              "value": "={{ (($json.current_price - $('Split Into Items').item.json.entryPrice) / $('Split Into Items').item.json.entryPrice) * 100 }}",
              "type": "number"
            },
            {
              "id": "new_status",
              "name": "new_status",
              "value": "={{ \n  const entryPrice = $('Split Into Items').item.json.entryPrice;\n  const currentPrice = $json.current_price;\n  const targetPrice = $('Split Into Items').item.json.targetPrice;\n  const stopLossPrice = $('Split Into Items').item.json.stopLossPrice;\n  \n  if (currentPrice >= targetPrice) {\n    return 'PREDICTION_STATUS_HIT_TARGET';\n  } else if (currentPrice <= stopLossPrice) {\n    return 'PREDICTION_STATUS_HIT_STOP';\n  } else {\n    return 'PREDICTION_STATUS_ACTIVE';\n  }\n}}",
              "type": "string"
            },
            {
              "id": "closed_at",
              "name": "closed_at",
              "value": "={{ \n  const newStatus = $json.new_status;\n  if (newStatus !== 'PREDICTION_STATUS_ACTIVE') {\n    return new Date().toISOString();\n  }\n  return null;\n}}",
              "type": "string"
            },
            {
              "id": "closed_reason",
              "name": "closed_reason",
              "value": "={{ \n  const newStatus = $json.new_status;\n  if (newStatus === 'PREDICTION_STATUS_HIT_TARGET') {\n    return 'Hit target price';\n  } else if (newStatus === 'PREDICTION_STATUS_HIT_STOP') {\n    return 'Hit stop loss price';\n  }\n  return null;\n}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "calculate-metrics",
      "name": "Calculate Metrics",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.API_URL }}/stockpicker.v1.PredictionService/UpdatePrediction",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Connect-Protocol-Version",
              "value": "1"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ {\n  id: $('Split Into Items').item.json.id,\n  currentPrice: $json.current_price,\n  currentReturnPct: $json.current_return_pct,\n  status: $json.new_status,\n  closedAt: $json.closed_at,\n  closedReason: $json.closed_reason\n} }}",
        "options": {}
      },
      "id": "update-prediction",
      "name": "Update Prediction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 300],
      "note": "NOTE: This requires an UpdatePrediction RPC endpoint that doesn't exist yet. Currently using UpdatePredictionAction as a workaround. Consider adding UpdatePrediction RPC to update price/status fields."
    },
    {
      "parameters": {
        "url": "={{ $env.API_URL }}/stockpicker.v1.PredictionService/UpdatePredictionAction",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Connect-Protocol-Version",
              "value": "1"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ {\n  id: $('Split Into Items').item.json.id,\n  action: $('Split Into Items').item.json.action // Keep existing action\n} }}",
        "options": {}
      },
      "id": "workaround-update",
      "name": "Workaround: Update Action Only",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 300],
      "note": "TEMPORARY: This is a workaround until UpdatePrediction RPC is added"
    }
  ],
  "connections": {
    "Daily at 4:30 PM EST": {
      "main": [
        [
          {
            "node": "Get Active Predictions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Predictions": {
      "main": [
        [
          {
            "node": "Filter Entered Predictions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Entered Predictions": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Get Current Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Price": {
      "main": [
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Metrics": {
      "main": [
        [
          {
            "node": "Update Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Prediction": {
      "main": [
        [
          {
            "node": "Workaround: Update Action Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "stockpicker"
  },
  "tags": [],
  "note": "Daily workflow that tracks performance of active predictions. Runs at 4:30 PM EST on trading days."
}
