n8n/workflows/monthly-performance-summary.json
{
  "name": "Performance Summary (Monthly)",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "cron",
              "cronExpression": "0 0 1 * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "First of Month at Midnight",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.API_URL }}/stockpicker.v1.StrategyService/ListStrategies",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Connect-Protocol-Version",
              "value": "1"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "get-all-strategies",
      "name": "Get All Strategies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-strategies",
      "name": "Split Strategies",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "previous_month",
              "name": "previous_month",
              "value": "={{ \n  const now = new Date();\n  const lastMonth = new Date(now.getFullYear(), now.getMonth() - 1, 1);\n  return lastMonth.toISOString().slice(0, 7); // YYYY-MM\n}}",
              "type": "string"
            },
            {
              "id": "strategy_id",
              "name": "strategy_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "prepare-month-filter",
      "name": "Prepare Month Filter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.API_URL }}/stockpicker.v1.PredictionService/ListPredictions",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Connect-Protocol-Version",
              "value": "1"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "strategyId",
              "value": "={{ $json.strategy_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-predictions",
      "name": "Get Predictions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "=// Filter predictions from previous month\nconst previousMonth = $('Prepare Month Filter').item.json.previous_month;\nconst predictions = $json.predictions || [];\n\nconst monthPredictions = predictions.filter(p => {\n  const createdDate = new Date(p.createdAt);\n  const monthStr = createdDate.toISOString().slice(0, 7);\n  return monthStr === previousMonth;\n});\n\n// Separate by action\nconst entered = monthPredictions.filter(p => p.action === 'PREDICTION_ACTION_ENTERED');\nconst dismissed = monthPredictions.filter(p => p.action === 'PREDICTION_ACTION_DISMISSED');\n\n// Calculate metrics for entered predictions\nconst enteredStats = {\n  total: entered.length,\n  hits: entered.filter(p => p.status === 'PREDICTION_STATUS_HIT_TARGET').length,\n  misses: entered.filter(p => \n    p.status === 'PREDICTION_STATUS_HIT_STOP' || \n    p.status === 'PREDICTION_STATUS_EXPIRED'\n  ).length,\n  pending: entered.filter(p => p.status === 'PREDICTION_STATUS_ACTIVE').length,\n  avgReturn: entered.length > 0\n    ? entered.reduce((sum, p) => sum + (p.currentReturnPct || 0), 0) / entered.length\n    : 0,\n  totalSpent: entered.reduce((sum, p) => sum + (p.allocatedAmount || 0), 0),\n  bestPerformer: entered.length > 0\n    ? entered.reduce((best, p) => \n        (p.currentReturnPct || 0) > (best.currentReturnPct || 0) ? p : best\n      , entered[0])\n    : null,\n  worstPerformer: entered.length > 0\n    ? entered.reduce((worst, p) => \n        (p.currentReturnPct || 0) < (worst.currentReturnPct || 0) ? p : worst\n      , entered[0])\n    : null\n};\n\n// Calculate metrics for dismissed predictions\nconst dismissedStats = {\n  total: dismissed.length,\n  avgReturn: dismissed.length > 0\n    ? dismissed.reduce((sum, p) => sum + (p.currentReturnPct || 0), 0) / dismissed.length\n    : 0\n};\n\nreturn {\n  strategy_id: $('Prepare Month Filter').item.json.strategy_id,\n  month: previousMonth,\n  entered: enteredStats,\n  dismissed: dismissedStats,\n  summary: {\n    win_rate: enteredStats.total > 0\n      ? (enteredStats.hits / enteredStats.total) * 100\n      : 0,\n    total_gains_losses: entered.reduce((sum, p) => {\n      const returnPct = p.currentReturnPct || 0;\n      return sum + (p.allocatedAmount * returnPct / 100);\n    }, 0)\n  }\n};"
      },
      "id": "calculate-performance",
      "name": "Calculate Performance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "report",
              "name": "report",
              "value": "={{ {\n  strategy: $('Split Strategies').item.json,\n  month: $json.month,\n  entered: $json.entered,\n  dismissed: $json.dismissed,\n  summary: $json.summary\n} }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "aggregate",
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-reports",
      "name": "Aggregate Reports",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.5,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "rawContent": "=Performance Summary (Monthly)\n{{ new Date().toLocaleDateString() }}\n\n{{ JSON.stringify($json.allItems.map(i => i.report), null, 2) }}",
        "options": {}
      },
      "id": "generate-summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "First of Month at Midnight": {
      "main": [
        [
          {
            "node": "Get All Strategies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Strategies": {
      "main": [
        [
          {
            "node": "Split Strategies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Strategies": {
      "main": [
        [
          {
            "node": "Prepare Month Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Month Filter": {
      "main": [
        [
          {
            "node": "Get Predictions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Predictions": {
      "main": [
        [
          {
            "node": "Calculate Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Performance": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Aggregate Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Reports": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "stockpicker"
  },
  "tags": [],
  "note": "Monthly workflow that generates performance summaries for all strategies. Runs on the 1st of each month at midnight."
}
